.sign-in-form > :not(:last-child) {
  margin-right: 10px;
}

.sign-in-input {
  padding: 5px;
}

.sign-in-button {
  cursor: pointer;
  padding: 5px;
}

.user-signin-success {
  color: green;
}

.user-signin-error {
  color: red;
}
